@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>I originally come from the Golden State of California but not the part that you are probably thinking of when you think of "Cali." I originally am from the desert lands of the Central 
    Valley but ended up linving in the mountains befor I moved to the East Coast. I am avid love of the outdoors but also enjoy spending time indoors playing games with friends and family, 
    building random things with my hands, or working on new projects. 
    As a new software developer I am seeking to forge a new path in the modern age of the computer, they have been around longer than me but they are still seem like new advancement. </p>
