@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>Hughston Rogers</h3>

<address>
    Tampa, FL<br />
    <abbr title="Phone"></abbr>
    813.279.1836
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:hughstonrogers15@gmail.com">hughstonrogers15@gmail.com</a><br />
</address>