@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hughston Rogers</h1>
    <p class="lead">Software Developer</p>
    <p>Follow me to my LinkedIn!</p>
    <p><a href="https://www.linkedin.com/in/hughston-rogers-344570b9/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>
            Follow me to my GitHub!
        </p>
        <p><a class="btn btn-default" href="https://github.com/hughstonrogers1">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>Follow me to my Resume!</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/hughston-rogers-344570b9/detail/overlay-view/urn:li:fsd_profileTreasuryMedia:(ACoAABkthOQBUUpx98Y0PAjVYgTD_4-bGKGH1kA,1635462494762)/">Resume &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>Follow me to my CodeWars!</p>
        <p><a class="btn btn-default" href="https://www.codewars.com/users/Hughston">CodeWars &raquo;</a></p>
    </div>
</div>